.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section {
  display: flex;
  margin: 10px;
  align-items: center;
}
.offline {
  border: 2px solid #eee;
  margin: 2px;
}
.online {
  border: 2px solid #080;
  margin: 2px;
}
button {
  width: 150px;
  height: 150px;
}
.title {
  margin: 10px;
}
